body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.book-library {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book {
  background-color: #ffffff;
  padding: 10px;
  margin: 20px;
  text-align: center;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.book img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.book h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #333333;
}

.book .author {
  color: #777777;
  margin: 5px 0;
}

.book .price {
  color: #2ecc71;
  font-weight: bold;
  margin: 5px 0;
}
